.gradle/
.idea/
android/build/
android/libs/
android/res/
android/AndroidManifest.xml
android/ic_launcher-web.png
android/proguard-project.txt
assets/
build/
core/build/
desktop/
gradle/
/gradlew
/gradlew.bat

*.gradle
*.iml
*.properties